

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


/* Images */

.post img{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* standard */
.post h1 {
  font-size: 140%;
  margin-top: 1em;
}

.post h2 {
  font-size: 120%;
  margin-top: .5em;
}

.post h1 {
  font-size: 110%;
  margin-top: .5em;
}


pre {
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.end {
  margin-top: 1em;
  font-style: italic;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.output {
    background: #ccc;
    color: #black;
    height: 100px;
    overflow: auto;
    font-family: "Consolas","Lucida Console","Monaco",monospace;
    font-size: 9pt;
}

pre {
margin-left: 14px;
font-size: 16px;
line-height: 1.2em;
}

code, pre {
  color: #444;
}

.codeblock{
  padding: 0 .4em;
  margin-left: 14px;
}
.codeblock pre.output{
  margin-left: 0;
  padding: 0;
}

.codeblock p{
  margin-bottom: 0;
}


.warning a {
  color: lightblue;
}

.top-bar {
    background-color: #2980b9; !important
}



.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #2980b9; !important
}

section, ul, li, a {
  color: inherit; !important
}

/*http://stackoverflow.com/questions/32854455/mobile-menu-breakpoint-in-foundation*/
@media only screen and (max-width: 64.063em) {
    meta.foundation-mq-topbar {
        font-family: "/only screen and (min-width:64.063em)/";
        width: 64.063em;
    }

    .top-bar {
      overflow: hidden;
      height: 2.8125rem;
      line-height: 2.8125rem;
      position: relative;
      margin-bottom: 0;
    }


}

/*Footer*/
.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}


/*So small pages are full height*/
.main-content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0%;
    left: 0%;
}